openapi: 3.0.0
info:
  contact:
    email: founders@openfort.xyz
    name: Openfort Team
    url: https://openfort.xyz
  description: "Complete Openfort API references and guides can be found at: https://openfort.xyz/docs"
  termsOfService: https://openfort.xyz
  title: Openfort API
  version: 1.0.0
servers:
- description: Openfort API Server
  url: https://api.openfort.xyz
paths:
  /iam/v1/auth/signup:
    post:
      description: "When using Openfort Auth, the endpoint creates a player based\
        \ on his email, and returns the jwt token for the player together with the\
        \ player id."
      operationId: Signup
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Success response
        "401":
          description: Api key is not valid
        "409":
          description: User already exists
      security:
      - pk: []
      summary: Sign up a player.
      tags:
      - Authentication
  /iam/v1/auth/login:
    post:
      description: "When using Openfort Auth, the endpoint authenticates the player\
        \ based on his email, and returns the jwt token for the player together with\
        \ the player id."
      operationId: Login
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Ok
        "401":
          description: ""
      security:
      - pk: []
      summary: Login a player.
      tags:
      - Authentication
  /iam/v1/auth/verify:
    get:
      description: "When using Openfort Auth, the endpoint verifies the token generated\
        \ by Openfort Auth and retrieves a corresponding player."
      operationId: VerifyAuthToken
      parameters:
      - description: Specifies the auth token.
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiJwcm9qZWN0XzQ4ZWViYTU3LTJjZDUtNDE1OS1hMmNiLTA1N2EyM2EzNWU2NSIsInVzZXJJZCI6InVzZXJfNDhlZWI1Ny0yY2Q1LTQxNTktYTJjYi0wNTdhMjNhMzVlNjUiLCJpYXQiOjE2MjY0NjY0NzcsImV4cCI6MTYyN
        explode: true
        in: query
        name: token
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Ok
        "401":
          description: ""
      security:
      - sk: []
      summary: Verify an auth token.
      tags:
      - Authentication
  /iam/v1/players:
    get:
      operationId: GetAuthenticatedPlayers
      parameters:
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Specifies the email address of the user.
        example: user@email.com
        explode: true
        in: query
        name: email
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /iam/v1/players
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: pla_ff54b031-a878-4ca2-9cf5-ae190f921e9b
                      object: player
                      player:
                        id: pla_ff54b031-a878-4ca2-9cf5-ae190f921e9b
                      provider: email
                      createdAt: 1691658234
                      updatedAt: 1691658234
                      email: jaume@openfort.xyz
              schema:
                $ref: '#/components/schemas/AuthPlayerListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List authenticated players.
      tags:
      - PlayersAuthentication
  /iam/v1/players/register_key:
    post:
      operationId: RegisterKey
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPlayerEncryptedKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    player: pla_...
                    ownerAddress: 0x...
                    createdAt: 1691658234
                    updatedAt: 1691658234
              schema:
                $ref: '#/components/schemas/RegisterPlayerEncryptedKeyResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - pk_player: []
      summary: Register a key for the authenticated player.
      tags:
      - PlayersAuthentication
  /iam/v1/players/retrieve_key:
    get:
      operationId: RetrieveKey
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    player: pla_...
                    ownerAddress: 0x...
                    salt: 0x...
                    pkCiphertext: 0x...
                    createdAt: 1691658234
                    updatedAt: 1691658234
              schema:
                $ref: '#/components/schemas/RetrievePlayerEncryptedKeyResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - pk_player: []
      summary: Retrieve the key for the authenticated player.
      tags:
      - PlayersAuthentication
  /iam/v1/oauth/google/signin_url:
    get:
      operationId: GetSigninUrl
      parameters: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSigninUrlResponse'
          description: Success response
        "401":
          description: Api key is not valid
      security:
      - pk: []
      summary: Get the google oauth signin url.
      tags:
      - GoogleAuthentication
  /iam/v1/oauth/google/token:
    get:
      operationId: GetToken
      parameters:
      - description: Specifies the oauth key.
        explode: true
        in: query
        name: key
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Ok
        "401":
          description: ""
      security:
      - pk: []
      summary: Get the google oauth token.
      tags:
      - GoogleAuthentication
  /iam/v1/oauth:
    get:
      description: The endpoint retrieves the list of oauth configurations for the
        current project environment.
      operationId: ListOAuthConfig
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    data:
                    - enabled: true
                      baseUrl: https://mygame.dev.gamingservices.accelbyte.io/
                      clientId: 1234567890abcdef1234567890abcdef
                      clientSecret: abcdef1234567890abcdef1234567890
                      provider: accelbyte
              schema:
                $ref: '#/components/schemas/OAuthConfigListResponse'
          description: Returns the list of available oauth configurations for the
            current project environment.
        "401":
          description: ""
      security:
      - sk: []
      - user_project: []
      summary: List of oauth configurations.
      tags:
      - OAuth
    post:
      description: The endpoint creates oauth configuration for the current project
        environment.
      operationId: CreateOAuthConfig
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthConfigRequest'
        description: Specifies the oauth provider specific configuration.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    enabled: true
                    baseUrl: https://mygame.dev.gamingservices.accelbyte.io/
                    clientId: 1234567890abcdef1234567890abcdef
                    clientSecret: abcdef1234567890abcdef1234567890
                    provider: accelbyte
              schema:
                $ref: '#/components/schemas/OAuthConfigResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Create oauth configuration.
      tags:
      - OAuth
  /iam/v1/oauth/{provider}:
    delete:
      description: The endpoint deletes oauth configuration for specified provider
        for the current project environment.
      operationId: DeleteOAuthConfig
      parameters:
      - description: Specifies the oauth provider type.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          $ref: '#/components/schemas/OAuthProvider'
        style: simple
      responses:
        "204":
          description: No content
        "401":
          description: ""
      security:
      - sk: []
      - user_project: []
      summary: Delete oauth configuration.
      tags:
      - OAuth
    get:
      description: The endpoint retrieves oauth configuration for specified provider
        for the current project environment.
      operationId: GetOAuthConfig
      parameters:
      - description: Specifies the oauth provider type.
        explode: false
        in: path
        name: provider
        required: true
        schema:
          $ref: '#/components/schemas/OAuthProvider'
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    enabled: true
                    baseUrl: https://mygame.dev.gamingservices.accelbyte.io/
                    clientId: 1234567890abcdef1234567890abcdef
                    clientSecret: abcdef1234567890abcdef1234567890
                    provider: accelbyte
              schema:
                $ref: '#/components/schemas/OAuthConfigResponse'
          description: Ok
        "401":
          description: ""
      security:
      - sk: []
      - user_project: []
      summary: Get oauth configuration.
      tags:
      - OAuth
  /iam/v1/oauth/{provider}/authorize:
    post:
      description: "The endpoint verifies the token generated by OAuth provider, creates\
        \ or retrieves a player based on his email, and returns the jwt token for\
        \ the player together with the player id."
      operationId: AuthorizeWithOAuthToken
      parameters:
      - description: OAuth provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          $ref: '#/components/schemas/OAuthProvider'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    playerId: pla_...
                    token: abcd....
              schema:
                $ref: '#/components/schemas/AuthorizeWithOAuthToken_200_response'
          description: Ok
        "401":
          description: ""
      security:
      - pk: []
      - sk: []
      summary: Authorize player with token.
      tags:
      - OAuth
  /iam/v1/oauth/{provider}/verify:
    post:
      description: The endpoint verifies the token generated by OAuth provider and
        retrieves a corresponding player.
      operationId: VerifyOAuthToken
      parameters:
      - description: OAuth provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          $ref: '#/components/schemas/OAuthProvider'
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    createdAt: 1689869074
                    object: player
                    description: John Smith
                    metadata:
                      firstName: John
                      lastName: Smith
                    name: My Player
                    accounts:
                    - id: acc_8888888888-8888-8888-8888-888888888888
                    transactionIntents:
                    - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Ok
        "401":
          description: ""
      security:
      - pk: []
      - sk: []
      summary: Retrieve player by token.
      tags:
      - OAuth
  /iam/v1/oauth/{provider}/user/{external_user_id}:
    get:
      description: Retrieves the player based on his id in the external provider system.
      operationId: GetPlayerByExternalId
      parameters:
      - description: OAuth provider
        explode: false
        in: path
        name: provider
        required: true
        schema:
          $ref: '#/components/schemas/OAuthProvider'
        style: simple
      - description: External user id
        example: "1234567890"
        explode: false
        in: path
        name: external_user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    createdAt: 1689869074
                    object: player
                    description: John Smith
                    metadata:
                      firstName: John
                      lastName: Smith
                    name: My Player
                    accounts:
                    - id: acc_8888888888-8888-8888-8888-888888888888
                    transactionIntents:
                    - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Ok
        "401":
          description: ""
      security:
      - sk: []
      summary: Retrieve player by external id.
      tags:
      - OAuth
  /v1/accounts:
    get:
      description: |-
        Returns a list of accounts for the given player.
        The accounts are returned sorted by creation date, with the most recently created accounts appearing first.
        By default, a maximum of ten accounts are shown per page.
      operationId: GetAccounts
      parameters:
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Specifies the fields to expand in the response.
        example:
        - transactionIntents
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AccountResponseExpandable'
          type: array
        style: form
      - description: Specifies the unique player ID (starts with pla_)
        example: pla_6f6c9067-89fa-4fc8-ac72-c242a268c584
        explode: true
        in: query
        name: player
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/accounts
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                      createdAt: 1689869074
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      chainId: 5
                      deployed: true
                      custodial: false
                      object: account
                      accountType: Upgradeable_v05
                      ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      transactionIntents:
                      - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List accounts of a player.
      tags:
      - Accounts
    post:
      description: |-
        This endpoint allows you to add a new account to your Openfort player.
        Only one account can be active per chain per player.
      operationId: CreateAccount
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deployed: true
                    custodial: false
                    object: account
                    accountType: Upgradeable_v05
                    ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    transactionIntents:
                    - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Create an account object.
      tags:
      - Accounts
  /v1/accounts/{id}:
    get:
      description: |-
        Retrieves the details of an existing account.
        Supply the unique account ID from either a account creation request or the account list, and Openfort will return the corresponding account information.
      operationId: GetAccount
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: expand
        required: false
        schema:
          default: []
          items:
            $ref: '#/components/schemas/AccountResponseExpandable'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deployed: true
                    custodial: false
                    object: account
                    accountType: Upgradeable_v05
                    ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    transactionIntents:
                    - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get existing account.
      tags:
      - Accounts
  /v1/accounts/{id}/request_transfer_ownership:
    post:
      description: |-
        This endpoint allows you to perform a request to change the owner of an account.
        To perform an update on the owner of an account, first you must provide a new owner address.
        Once requested, the owner must accept to take ownership by calling `acceptOwnership()` in the smart contract account.
      operationId: RequestTransferOwnership
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Request transfer ownership of account.
      tags:
      - Accounts
  /v1/accounts/{id}/cancel_transfer_ownership:
    post:
      description: This endpoint allows you to cancel a pending transfer of ownership.
      operationId: CancelTransferOwnership
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTransferOwnershipRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Cancel request to transfer ownership of an account.
      tags:
      - Accounts
  /v1/accounts/{id}/sign_payload:
    post:
      description: "Signs the typed data value with types data structure for domain\
        \ using the [EIP-712](https://eips.ethereum.org/EIPS/eip-712) specification."
      operationId: SignPayload
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignPayloadRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    account: acc_...
                    hash: 0x25d3...005c
                    object: signature
                    signature: 0x25d3...005c
                    address: 0x8C5cedA46A2...36Ad2F6255BdBEa
              schema:
                $ref: '#/components/schemas/SignPayloadResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Sign a given payload
      tags:
      - Accounts
  /v1/accounts/{id}/sync:
    post:
      description: "This endpoint updates the account state with the blockchain. Specifically,\
        \ it updates the account owner and whether its deployed or not."
      operationId: SyncAccount
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deployed: true
                    custodial: false
                    object: account
                    accountType: Upgradeable_v05
                    ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    transactionIntents:
                    - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful response.
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Account not found
      security:
      - sk: []
      summary: Sync account state with the blockchain
      tags:
      - Accounts
  /v1/accounts/{id}/deploy:
    post:
      description: This endpoint can be used to deploy an account that was counterfactually
        generated.
      operationId: DeployAccount
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deployed: true
                    custodial: false
                    object: account
                    accountType: Upgradeable_v05
                    ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    transactionIntents:
                    - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful response.
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "404":
          description: Account not found
      security:
      - sk: []
      - user_project: []
      summary: Deploy an account.
      tags:
      - Accounts
  /v1/accounts/{id}/start_recovery:
    post:
      operationId: StartRecovery
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartRecoveryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Start a recovery process of a recoverable account.
      tags:
      - Accounts
  /v1/accounts/{id}/complete_recovery:
    post:
      operationId: CompleteRecovery
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteRecoveryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Complete a recovery process of a recoverable account.
      tags:
      - Accounts
  /v1/contracts:
    get:
      description: |-
        List of all contracts per project.
        By default, a maximum of ten contracts are shown.
      operationId: GetContracts
      parameters:
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Specifies the name of the contract.
        example: NFT Contract
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Specifies whether to include deleted contracts.
        example: false
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: The chain ID of the contract.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies the address of the contract.
        example: 0x742e6e61d760164d56f44801054bcf40fa821d97
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/contracts
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                      createdAt: 1689869074
                      object: contract
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      chainId: 5
                      deleted: false
                      name: MyContract
                      publicVerification: true
                      abi:
                      - constant: false
                        inputs:
                        - name: addr
                          type: address
              schema:
                $ref: '#/components/schemas/ContractListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List contracts.
      tags:
      - Contracts
    post:
      description: Add a new contract to your project in Openfort
      operationId: CreateContract
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    object: contract
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deleted: false
                    name: MyContract
                    publicVerification: true
                    abi:
                    - constant: false
                      inputs:
                      - name: addr
                        type: address
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Create contract object.
      tags:
      - Contracts
  /v1/contracts/{id}:
    delete:
      description: Delete a contract from the project by providing its contract id.
      operationId: DeleteContract
      parameters:
      - description: Specifies the unique contract ID (starts with con_).
        example: con_0cddb398-1dc6-4e6f-8726-9ec7cea85f35
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    deleted: true
                    object: contract
              schema:
                $ref: '#/components/schemas/ContractDeleteResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Deletes a contract object.
      tags:
      - Contracts
    get:
      description: Retrieve a contract by providing their contract id.
      operationId: GetContract
      parameters:
      - description: Specifies the unique contract ID (starts with con_).
        example: con_0cddb398-1dc6-4e6f-8726-9ec7cea85f35
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    object: contract
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deleted: false
                    name: MyContract
                    publicVerification: true
                    abi:
                    - constant: false
                      inputs:
                      - name: addr
                        type: address
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get a contract.
      tags:
      - Contracts
    post:
      operationId: UpdateContract
      parameters:
      - description: Specifies the unique contract ID (starts with con_).
        example: con_0cddb398-1dc6-4e6f-8726-9ec7cea85f35
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    object: contract
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deleted: false
                    name: MyContract
                    publicVerification: true
                    abi:
                    - constant: false
                      inputs:
                      - name: addr
                        type: address
              schema:
                $ref: '#/components/schemas/ContractResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Updates a contract object.
      tags:
      - Contracts
  /v1/contracts/{id}/read:
    get:
      description: |-
        Using this endpoint, you can get the data returned by any readable
        function listed in a contracts ABI. This could be things like querying
        the totalSupply of a currency contract, the number of owners of an items
        contract, and more.
      operationId: ReadContract
      parameters:
      - description: Specifies the unique contract ID (starts with con_).
        example: con_0cddb398-1dc6-4e6f-8726-9ec7cea85f35
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The function name of the contract.
        example: mint
        explode: true
        in: query
        name: functionName
        required: true
        schema:
          type: string
        style: form
      - description: "The function arguments of the contract, in string format. Accepts\
          \ pla_, con_ and acc_ IDs."
        example:
        - 0x662D24Bf7Ea2dD6a7D0935F680a6056b94fE934d
        explode: true
        in: query
        name: functionArgs
        required: false
        schema:
          items: {}
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: con_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    object: readContract
                    functionName: balanceOf
                    result:
                      type: BigNumber
                      hex: 0x00
              schema:
                $ref: '#/components/schemas/ContractReadResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Read on chain contract data.
      tags:
      - Contracts
  /v1/players/{id}/inventory:
    get:
      deprecated: true
      operationId: GetPlayerInventory
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by chain id.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: inventory
                    nativeAsset:
                      assetType: 1
                      amount: "1000000000000000000"
                      lastTransferredAt: 1689869074
                    nftAssets:
                    - assetType: 2
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      tokenId: 1
                      lastTransferredAt: 1689869074
                    tokenAssets:
                    - assetType: 3
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      tokenId: 1
                      amount: "1000000000000000000"
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/ObsoleteInventoryResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get inventory of player.
      tags:
      - Inventories
  /v1/players/{id}/inventory/nft:
    get:
      operationId: GetPlayerNftInventory
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Filter by contract ID (starts with con_).
        example: 0x1234567890abcdef1234567890abcdef12345678
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by chain id.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/players/pla_.../inventory/nft
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - assetType: ERC1155
                      amount: "1"
                      tokenId: 1
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get NFTs list of player.
      tags:
      - Inventories
  /v1/players/{id}/inventory/cryptocurrency:
    get:
      operationId: GetPlayerCryptoCurrencyInventory
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Filter by contract ID (starts with con_).
        example: 0x1234567890abcdef1234567890abcdef12345678
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Filter by chain id.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/players/pla_.../inventory/cryptocurrency
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - assetType: ERC20
                      amount: "1000000000000000000"
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get cryptocurrency list of player.
      tags:
      - Inventories
  /v1/players/{id}/inventory/native:
    get:
      operationId: GetPlayerNativeInventory
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by chain id.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: true
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: inventory
                    url: /v1/players/pla_.../inventory/native
                    data:
                      assetType: ETH
                      amount: "1000000000000000000"
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get native token list of player.
      tags:
      - Inventories
  /v1/accounts/{id}/inventory:
    get:
      deprecated: true
      operationId: GetAccountInventory
      parameters:
      - description: Specifies the unique account ID (starts with acc_).
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObsoleteInventoryResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get inventory of account.
      tags:
      - Inventories
  /v1/accounts/{id}/inventory/nft:
    get:
      operationId: GetAccountNftInventory
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - explode: true
        in: query
        name: contractId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/accounts/acc_.../inventory/nft
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - assetType: ERC1155
                      amount: "1"
                      tokenId: 1
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Retrieves the NFT assets of an existing account.
      tags:
      - Inventories
  /v1/accounts/{id}/inventory/cryptocurrency:
    get:
      operationId: GetAccountCryptoCurrencyInventory
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - explode: true
        in: query
        name: contractId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/accounts/acc_.../inventory/cryptocurrency
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - assetType: ERC20
                      amount: "1000000000000000000"
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Retrieves the cryptocurrency assets of an existing account.
      tags:
      - Inventories
  /v1/accounts/{id}/inventory/native:
    get:
      operationId: GetAccountNativeInventory
      parameters:
      - description: Specifies the unique account ID.
        example: acc_4194ad24-c818-4e5c-b003-9cc2aa7df53b
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: inventory
                    url: /v1/accounts/acc_.../inventory/native
                    data:
                      assetType: ETH
                      amount: "1000000000000000000"
                      lastTransferredAt: 1689869074
              schema:
                $ref: '#/components/schemas/InventoryResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Retrieves the native asset of an existing account.
      tags:
      - Inventories
  /v1/players:
    get:
      description: "By default, a maximum of ten players are shown."
      operationId: GetPlayers
      parameters:
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Specifies the fields to expand in the response.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            $ref: '#/components/schemas/PlayerResponseExpandable'
          type: array
        style: form
      - description: Filter by player name.
        example: John
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/players
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: pla_00000000-0000-0000-0000-000000000000
                      createdAt: 1689869074
                      object: player
                      description: John Smith
                      metadata:
                        firstName: John
                        lastName: Smith
                      name: My Player
                      accounts:
                      - id: acc_8888888888-8888-8888-8888-888888888888
                      transactionIntents:
                      - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List players.
      tags:
      - Players
    post:
      description: Add a new player to your player list in Openfort.
      operationId: CreatePlayer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    createdAt: 1689869074
                    object: player
                    description: John Smith
                    metadata:
                      firstName: John
                      lastName: Smith
                    name: My Player
                    accounts:
                    - id: acc_8888888888-8888-8888-8888-888888888888
                    transactionIntents:
                    - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Create a player object.
      tags:
      - Players
  /v1/players/{id}:
    delete:
      operationId: DeletePlayer
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    object: player
                    deleted: true
              schema:
                $ref: '#/components/schemas/PlayerDeleteResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Deletes a player object.
      tags:
      - Players
    get:
      operationId: GetPlayer
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the expandable fields.
        example:
        - accounts
        explode: true
        in: query
        name: expand
        required: false
        schema:
          default: []
          items:
            $ref: '#/components/schemas/PlayerResponseExpandable'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    createdAt: 1689869074
                    object: player
                    description: John Smith
                    metadata:
                      firstName: John
                      lastName: Smith
                    name: My Player
                    accounts:
                    - id: acc_8888888888-8888-8888-8888-888888888888
                    transactionIntents:
                    - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Retrieves the details of an existing player.
      tags:
      - Players
    post:
      operationId: UpdatePlayer
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pla_00000000-0000-0000-0000-000000000000
                    createdAt: 1689869074
                    object: player
                    description: John Smith
                    metadata:
                      firstName: John
                      lastName: Smith
                    name: My Player
                    accounts:
                    - id: acc_8888888888-8888-8888-8888-888888888888
                    transactionIntents:
                    - id: tin_AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA
              schema:
                $ref: '#/components/schemas/PlayerResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Updates a player object.
      tags:
      - Players
  /v1/players/{id}/request_transfer_ownership:
    post:
      description: |-
        This endpoint allows you to perform a request to change the owner of an account.
        To perform an update on the owner of an account, first you must provide a new owner address.
        Once requested, the owner must accept to take ownership by calling `acceptOwnership()` in the smart contract account.
      operationId: RequestTransferAccountOwnership
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerTransferOwnershipRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Request transfer ownership of a player.
      tags:
      - Players
  /v1/players/{id}/cancel_transfer_ownership:
    post:
      description: This endpoint allows you to cancel a pending transfer of ownership.
      operationId: CancelTransferAccountOwnership
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlayerCancelTransferOwnershipRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
                    createdAt: 1689869074
                    object: transactionIntent
                    userOperationHash: 0x25d3...005c
                    userOperation:
                      sender: 0x63B7...484f
                      nonce: 0
                      initCode: 0x
                      callData: 0x940d...0000
                      callGasLimit:
                        type: BigNumber
                        hex: 0x0352db
                      verificationGasLimit:
                        type: BigNumber
                        hex: 0x0186a0
                      maxFeePerGas:
                        type: BigNumber
                        hex: 0x9cca659e7c
                      maxPriorityFeePerGas:
                        type: BigNumber
                        hex: 0x59682f00
                      paymasterAndData: 0x8076...931c
                      signature: 0xbdf8...e81b
                      preVerificationGas: {}
                    chainId: 5
                    updatedAt: 1689869074
                    policy:
                      id: pol_...
                    player:
                      id: pla_...
                    account:
                      id: acc_...
                    response:
                      createdAt: 1689869074
                      logs: []
                      blockNumber: 8789286
                      userOpHash: 0x25d3...005c
                      transactionHash: 0x25d3...005c
                      to: 0x0576...1B57
                      gasUsed: 336730
                      status: 1
                      error: null
                    interactions:
                    - functionName: mint
                      value: "100000000000000"
                      contract: 0x0576...1B57
                      functionArgs:
                      - 0x63B7...484f
              schema:
                $ref: '#/components/schemas/TransactionIntentResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Cancel request to transfer ownership of a player.
      tags:
      - Players
  /v1/players/{id}/sessions:
    post:
      deprecated: true
      operationId: CreatePlayerSession
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlayerSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: ses_...
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    updatedAt: 1689869074
                    isActive: true
                    validAfter: "1650000000"
                    validUntil: "1700000000"
                    whitelist: []
                    limit: 100
                    nextAction:
                      type: sign_with_wallet
                      payload:
                        userOpHash: 0x...
                        userOp: {}
                    transactionIntents:
                    - id: tin_...
                    object: session
              schema:
                $ref: '#/components/schemas/SessionResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      summary: Create session object for a player.
      tags:
      - Players
  /v1/players/{id}/sessions/revoke:
    post:
      deprecated: true
      operationId: RevokePlayerSession
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokeSessionPlayerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: ses_...
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    updatedAt: 1689869074
                    isActive: true
                    validAfter: "1650000000"
                    validUntil: "1700000000"
                    whitelist: []
                    limit: 100
                    nextAction:
                      type: sign_with_wallet
                      payload:
                        userOpHash: 0x...
                        userOp: {}
                    transactionIntents:
                    - id: tin_...
                    object: session
              schema:
                $ref: '#/components/schemas/SessionResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      summary: Revoke session object for a player.
      tags:
      - Players
  /v1/players/{id}/accounts:
    get:
      deprecated: true
      operationId: GetPlayerAccounts
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the expandable fields.
        example:
        - transactionIntents
        explode: true
        in: query
        name: expand
        required: false
        schema:
          default: []
          items:
            $ref: '#/components/schemas/AccountResponseExpandable'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/accounts
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                      createdAt: 1689869074
                      address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      chainId: 5
                      deployed: true
                      custodial: false
                      object: account
                      accountType: Upgradeable_v05
                      ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                      transactionIntents:
                      - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List of accounts of a player.
      tags:
      - Players
    post:
      deprecated: true
      operationId: CreatePlayerAccount
      parameters:
      - description: Specifies the unique player ID (starts with pla_).
        example: pla_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlayerAccountRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: acc_c502d628-5bb3-42f2-b8d5-62ba46717f3a
                    createdAt: 1689869074
                    address: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    chainId: 5
                    deployed: true
                    custodial: false
                    object: account
                    accountType: Upgradeable_v05
                    ownerAddress: 0x8C5cedA46A26214A52A9D7BF036Ad2F6255BdBEa
                    transactionIntents:
                    - id: tin_c502d628-5bb3-42f2-b8f5-62ba4d71df3a
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      summary: Create account object for a player.
      tags:
      - Players
  /v1/policies:
    get:
      operationId: GetPolicies
      parameters:
      - description: Specifies the maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: Specifies the offset for the first records to return.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
        style: form
      - description: Specifies the order in which to sort the results.
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/SortOrder'
        style: form
      - description: Specifies the fields to expand in the response.
        explode: true
        in: query
        name: expand
        required: false
        schema:
          items:
            $ref: '#/components/schemas/PolicyResponseExpandable'
          type: array
        style: form
      - description: Specifies the name of the policy.
        example: MyPolicy
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Specifies whether to include deleted contracts.
        example: true
        explode: true
        in: query
        name: deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: The chain ID of the policy.
        example: 80001
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: Specifies whether to include enabled contracts.
        example: true
        explode: true
        in: query
        name: enabled
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/policies
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - id: pol_...
                      createdAt: 1689869074
                      name: TEST
                      chainId: 5
                      strategy:
                        sponsorSchema: pay_for_user
                      deleted: false
                      enabled: true
                      object: policy
                      transactionIntents:
                      - id: tin_...
                      policyRules:
                      - createdAt: 1689869074
                        id: afu_...
                        functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyListResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: List policies.
      tags:
      - Policies
    post:
      operationId: CreatePolicy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePolicyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    createdAt: 1689869074
                    name: TEST
                    chainId: 5
                    strategy:
                      sponsorSchema: pay_for_user
                    deleted: false
                    enabled: true
                    object: policy
                    transactionIntents:
                    - id: tin_...
                    policyRules:
                    - createdAt: 1689869074
                      id: afu_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Create a policy object.
      tags:
      - Policies
  /v1/policies/{id}:
    delete:
      operationId: DeletePolicy
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    deleted: true
                    object: policy
              schema:
                $ref: '#/components/schemas/PolicyDeleteResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Delete a policy object.
      tags:
      - Policies
    get:
      operationId: GetPolicy
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the fields to expand.
        example:
        - transactionIntents
        explode: true
        in: query
        name: expand
        required: false
        schema:
          default: []
          items:
            $ref: '#/components/schemas/PolicyResponseExpandable'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    createdAt: 1689869074
                    name: TEST
                    chainId: 5
                    strategy:
                      sponsorSchema: pay_for_user
                    deleted: false
                    enabled: true
                    object: policy
                    transactionIntents:
                    - id: tin_...
                    policyRules:
                    - createdAt: 1689869074
                      id: afu_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Successful response.
        "401":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Get a policy object.
      tags:
      - Policies
    post:
      operationId: UpdatePolicy
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    createdAt: 1689869074
                    name: TEST
                    chainId: 5
                    strategy:
                      sponsorSchema: pay_for_user
                    deleted: false
                    enabled: true
                    object: policy
                    transactionIntents:
                    - id: tin_...
                    policyRules:
                    - createdAt: 1689869074
                      id: afu_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Update a policy object.
      tags:
      - Policies
  /v1/policies/{id}/disable:
    put:
      operationId: DisablePolicy
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    createdAt: 1689869074
                    name: TEST
                    chainId: 5
                    strategy:
                      sponsorSchema: pay_for_user
                    deleted: false
                    enabled: true
                    object: policy
                    transactionIntents:
                    - id: tin_...
                    policyRules:
                    - createdAt: 1689869074
                      id: afu_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Disable a policy object.
      tags:
      - Policies
  /v1/policies/{id}/enable:
    put:
      operationId: EnablePolicy
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    id: pol_...
                    createdAt: 1689869074
                    name: TEST
                    chainId: 5
                    strategy:
                      sponsorSchema: pay_for_user
                    deleted: false
                    enabled: true
                    object: policy
                    transactionIntents:
                    - id: tin_...
                    policyRules:
                    - createdAt: 1689869074
                      id: afu_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyResponse'
          description: Successful response.
        "401":
          description: Error response.
        "409":
          description: Error response.
      security:
      - sk: []
      - user_project: []
      summary: Enable a policy object.
      tags:
      - Policies
  /v1/policies/{id}/policy_rules:
    get:
      deprecated: true
      operationId: GetPolicyAllowFunctions
      parameters:
      - description: Specifies the unique policy ID (starts with pol_).
        example: pol_48eeba57-2cd5-4159-a2cb-057a23a35e65
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Specifies the fields to expand.
        example:
        - transactionIntents
        explode: true
        in: query
        name: expand
        required: false
        schema:
          default: []
          items:
            enum:
            - contract
            nullable: false
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    object: list
                    url: /v1/policy_rules
                    start: 0
                    end: 1
                    total: 1
                    data:
                    - createdAt: 1689869074
                      id: afu_...
                      object: policyRule
                      type: contract_functions
                      contract:
                        id: con_...
                      functionName: mint
              schema:
                $ref: '#/components/schemas/PolicyRuleListResponse'
          description: Successful response.
        "400":
          description: ""
        "404":
          description: ""
      security:
      - sk: []
      - user_project: []
      summary: List policy rules of a policy.
[...]
